* {
    padding: 0;
    margin: 0;
}


/* Голова */

.headback {
    width: 100%;
    height: 100%;
    background-color: rgb(51, 50, 49);
   
}

.ulHead {
    display: flex;
    justify-content: space-evenly;
    
}

.aLIHead {
    background-color:rgb(85, 85, 84);
    padding: 20px 50px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    list-style-type: none;
    font-size: 20px;
}
.aLIHead:hover{
    background-color: rgb(95, 93, 88) ;
} 


/* Голова */
/* О нас */
.mainBack{
    width: 100%;
    height: 100%;
}
.mainText{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    font-size: 30px;
    border-bottom:1px solid black ;
}
.mainText1{
    margin: 20px;
    width: auto;
    height: auto;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    }
    .footerTel1{
        color: rgb(0, 0, 0);
        display: flex;
        }
        .footerTel1:hover{
            text-decoration: none;
        }
        /* О нас */
/* Контыкты */
.footer{
width: 100%;
height: 200px;
background-color: rgb(51, 50, 49);
display: block;
}
.footerBox{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    color: white;
    margin:50px auto;
}

/* Телефон */
.footerTel{
color: white;
display: flex;
}

.footerimg{
    width:50px ;
    height: 50px;
    display: block;

}

.footerTel:hover{
    text-decoration: none;
}

.footerimg1{
    display: none;
    width: 50px;
    height: 50px;
}
    
.footerTel:hover img.footerimg1{
    display: block;
}
    
        
.footerTel:hover img.footerimg{
    display: none;
}
/* Телефон */
.footerboximg{
    display: flex;
}
/* Контыкты */